body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  flex-wrap: wrap;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

button {
  padding: 10px 20px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

.videos {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

iframe {
  width: 32%;
  height: 200px;
  border-radius: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

footer {
  text-align: center;
  padding: 10px;
  background: black;
}

/* WhatsApp */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 12px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}

/* 📱 Responsive */
@media(max-width: 768px) {
  iframe {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}